.Shop {
    width: 95%;
    margin: 3% auto;
    display: flex;
    justify-content: space-between;
}

.products {
    width: 62%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cart {
    width: 32%;
    padding: 0 1%;
    border-left: 1px solid silver;
}
table ,thead {
    width: 100%;
}
thead tr {
    text-align: center;
    line-height: 40px;
}
tr th {
    font-size: 18px;
}
tr td {
    font-size: 14px;
}
.td-title{
    width: 40%;
} 
.td-price {
    width: 10%;
}
.td-img {
    width: 18%;
}
.td-img img {
    width: 100%;
    object-fit: cover;
}
.td-action {
    width: 20%;
}

.td-action button {
    width: 100%;
    background-color: rgb(255, 162, 162);
    border: 1px solid rgb(255, 72, 72);
    color: white;
    border-radius: 5px;
    outline: none;
    padding: 7% 0;
    cursor: pointer;
}